// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.post-card {
    border: 2px solid black;

    h2 {
        font-size: 4rem;
    }

    h5 {
        font-size: 1rem;
        color: grey;
    }

    img {
        margin-block: 2rem;
    }

    p {
        font-size: 2rem;
    }
}
